

.title { 
    cursor: pointer;
}

.logo {
    background-color: white;
    height: 26px;
}

.Resultados {
    margin: 16px;
    padding: 8px;
}

.item-result {
    height: 6em;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}